
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  
.introduction .left-side h1 span{
    color: #FF8A56;
}
.introduction .left-side h1{
    font-size: 69px;
}


.book-a-call{
    width: 151px;
    height: 58px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    margin-right: 30px;
 }

 .Cv{
    text-decoration: none;
    color: #000;
 }
 
 .introduction .left-side p{
    font-size: 21px;
 }

.overlay-menu{
    background-color: black;
    height: 100vh;
    position: fixed;
    opacity: 0.8;
    top:0;
    left: 0;
    width: 0;
    overflow-x: hidden;
    transition: width .5s ease-in-out;
}

.aktiv{
    width: 100%;
}
.mobile-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100vh;
}

.fa-x{
    position: absolute;
    right: 40px;
    top: 40px;
    color:#fff;
    font-size: 35px;
    cursor: pointer;
}
.mobile-nav a{
    color: #dedede;
    font-size: 35px;
    display: inline-flex;
    min-width: 150px;
}

p{
    color: #000;
}


.services-section h6{
    color: #FF5E69;
    font-size: 22px;
}

.project h2{
    font-size: 54px;
}

.project button{
    width: 151px;
    height: 68px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    margin-left: 1170px;

}

.project-left{
    margin-left: 90px;
}

.blog{
    border-bottom: 1px solid #dedede;
}

.blog-left-side h1{
    color: #FF8A56;
}

.blog-left-side p{
    color: #ffffff;
}

.blog-right-side{
    color: #fff;
}

.swiper-button-prev{
   
    color: #000000;
    border: 0px solid #ffffff;
    width: 54px;
    height: 54px;
    top: 184.27px;
    left: 977.5px;

   

}

.project h1{
    color: #B16CEA;
    font-size: 22px;
}


    .rotate-90 {
        transform: rotate(90deg);
        width: auto; /* Resmin genişliğini otomatik olarak ayarlar */
        height: 100%; /* Resmin yüksekliğini tam ekran yüksekliğine kadar uzatır */
        object-fit: cover; /* Resmi belirtilen boyutlara uyacak şekilde ölçekler */
      }

  

.i{
    padding-bottom: 150px;
    background-color: #000;
}

.swiper-button-next{
    color: #000000;
    border: 0px solid #ffffff;
    width: 54px;
    height: 54px;
    top: 184.27px;
    left: 1059px;
}


  .swiper-slide {

    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }


.h5{
    color: #FF8A56;
}

.blog-left-side h1{
    color: #FF8A56;
    font-size: 22px;
}

.blog-left-side h2{
    color: #ffffff;
    font-size: 54px;
}

.mySwiper3 .swiper-slide img {
    width: 60%;
}

.cards  h3{
    color: blue;
    flex-direction: column;
}

.services-cards{
    width: 20%;
    height: 20%;
}

.services-cards{
    margin: -350px 100px 0 70px;
    background-color: #fff;
}


.swiper img.s3{
    width: 511px;
    height: 508px;
}